<h1 class="unusable">unusable space</h1><br><br><br><br>

<ul>
  <li>Status: <%= @verification_status %></li>
  <li>Address balance: <%=  @address_balance %></li>
</ul>

<%= link_to "Back to the Homepage", root_path%>