<h1>unusable space</h1><br><br><br><br>
<h2> This page shows you all your wine bottles<br>
It is your wine cellar!!!!!!!!!!!!!!!!
</h2>

<%= @user.addresses.map do |ad| %> 
<p>
<%= ad.user_id %>
</p>
<%end%> 

