<h1> hi </h1>


<h2>Look up a bottle</h2><br>
<h2>Send a bottle to another user</h2>

<% if current_user.is_vineyard %>
  <p> THIS IS A VINEYARD ACCOUNT! </p> <br>
  <p> Because you are a vineyard you can instantiate an address (coin?) for each new bottle </p>

<% end %>
