

<h3>Welcome to WineChain</h3><br><br>



<h2>Click below to see all your wine bottles</h2><br>
<%= link_to "See your cellar", current_user%> 
<h2>Send a bottle to another user</h2><br>
<h3>Currently all users can create wine bottles</h3>
<%= link_to "New Wine Bottle Account with Zero Balance", new_address_path%> 

