<h3>Here are your user options:</h3><br>


<h2>Fill out your account details</h2><br>
<%= link_to "Your User Account", new_user_path  %> 


<h2>New Wine Bottle Holder Account</h2><br>
<%= link_to "New Wine Bottle Holder Account", new_address_path  %> 
<h1>Proves that we can make a transaction</h1>

