<h1>unusable space</h1><br><br><br><br>

<h2>Manage Your Bottles</h2><br>
<%= link_to "See your cellar", current_user%> ||
<%= link_to "Add a new bottle to your cellar", new_address_path%> <br>
<h2>Send a bottle</h2>
Link to new transaction path here<br>  
 <br> 
 <br> 
 <% if current_user && current_user.is_vineyard %>
    <p><strong> You are using a Vineyard Level account </strong></p> 
<h2>Register a New Bottle</h2>
<%= link_to "Register a new series of bottles", new_wine_faucet_path%>
<p> Because you are a vineyard you can <strong> create an address that draws a balance from our testnet coin stash</strong>.<br> Anyone can create an address, but only vineyards can get their own balance. 
 </p>
 <% else %>
  <br><br>
  <p> You should sign up or login and start transferring bottles </p>
<% end %>
