<h1>unusable space</h1><br><br><br><br>

<h2>Manage Your Bottles</h2><br>
<%= link_to "See your cellar", current_user%> ||
<%= link_to "Add a new bottle to your cellar", new_address_path%> <br>
<h2>Send a bottle</h2>
Link to new transaction path here<br>  
 <br> 
 <br> 
 <% if current_user && current_user.is_vineyard %>
    <p><strong> You are using a Vineyard Level account </strong></p> 
<h2>Register a New Bottle</h2>
<%= link_to "Register a new series of bottles", new_wine_faucet_path%>
<p> Because you are a vineyard you can <strong> create an address that draws a balance from our testnet coin stash</strong>.<br> Anyone can create an address, but only vineyards can get their own balance. 
 </p>
 <% else %>
  <br><br>
  <p> You should sign up or login and start transferring bottles </p>
<% end %>

<div class="row">

          <div class="col-sm-8 col-sm-offset-2">

            <h4 class="font-alt mb-0">Rival progress bars</h4>
            <hr class="divider-w mt-10 mb-20">

            <h6 class="font-alt"><span class="icon-tools-2"></span> Development</h6>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="font-alt" style="opacity: 1;">60</span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-strategy"></span> Branding</h6>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                <span class="font-alt" style="opacity: 1;">80</span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-target"></span> Marketing</h6>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                <span class="font-alt" style="opacity: 1;">50</span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-camera"></span> Photography</h6>
            <div class="progress">
              <div class="progress-bar pb-dark" aria-valuenow="90" style="width: 90%;">
                <span class="font-alt" style="opacity: 1;">90</span>
              </div>
            </div>


            <h4 class="font-alt mb-0">Bootstrap progress bars</h4>
            <hr class="divider-w mt-10 mb-20">

            <h6 class="font-alt"><span class="icon-tools-2"></span> Development</h6>
            <div class="progress">
              <div class="progress-bar" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="font-alt" style="opacity: 1;">60</span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-strategy"></span> Branding</h6>
            <div class="progress">
              <div class="progress-bar" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                <span class="font-alt" style="opacity: 1;">80</span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-target"></span> Marketing</h6>
            <div class="progress">
              <div class="progress-bar" aria-valuenow="50" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                <span class="font-alt" style="opacity: 1;">50</span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-camera"></span> Photography</h6>
            <div class="progress">
              <div class="progress-bar" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                <span class="font-alt" style="opacity: 1;">90</span>
              </div>
            </div>


            <h4 class="font-alt mb-0">Animated</h4>
            <hr class="divider-w mt-10 mb-20">

            <h6 class="font-alt"><span class="icon-tools-2"></span> Development</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" aria-valuenow="65" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                <span class="font-alt" style="opacity: 1;">65</span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-strategy"></span> Branding</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" aria-valuenow="75" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-alt"></span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-target"></span> Marketing</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-alt"></span>
              </div>
            </div>

            <h6 class="font-alt"><span class="icon-camera"></span> Photography</h6>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <span class="font-alt"></span>
              </div>
            </div>


          </div>

        </div>