<%= render "nav_bar" %>


  <!-- Preloader -->
  <div class="page-loader">
    <div class="loader">Loading...</div>
  </div>



  <!-- Home start -->
  <section id="home" class="home-section home-parallax home-fade home-full-height bg-dark-30" style="background-image: url(https://images.unsplash.com/photo-1423483641154-5411ec9c0ddf?q=80&fm=jpg&s=f500087a88b8b870139230b457826dc3); >

    <div class="hs-caption">
      <div class="caption-content intro-banner">
        <div class="hs-title-size-1 font-alt mb-30">
          A Luxury Wine Authentication System
        </div>
        <div class="hs-title-size-4 font-alt mb-40">This is Stem
        </div>
        <a href="#about" class="section-scroll btn btn-border-w btn-round">Learn More</a>
      </div>
    </div>

  </section >
  <!-- Home end -->

  <!-- Wrapper start -->
  <div class="main">

    <!-- About start -->
    <section id="about" class="module">
      <div class="container">

        <div class="row">

          <div class="col-sm-8 col-sm-offset-2">

            <h2 class="module-title font-alt">Welcome to Stem</h2>
            <div class="module-subtitle font-serif large-text">
              30 billion bottles of wine are sold - every year. Stem uses blockchain technology to securely verify and track fine wine.
            </div>

          </div>

        </div><!-- .row -->

        <div class="row">

          <div class="col-sm-2 col-sm-offset-5">

            <div class="large-text align-center">
              <a href="#features" class="section-scroll"><i class="fa fa-angle-down"></i></a>
            </div>

          </div>

        </div>

      </div><!-- .container -->
    </section>
    <!-- About end -->

    <!-- Divider -->
    <hr class="divider-w">
    <!-- Divider -->

    <!-- Features start -->
    <section id="features" class="module">
      <div class="container">

        <div class="row">

          <div class="col-sm-6 col-sm-offset-3">

            <h2 class="module-title font-alt">Our Aim</h2>
            <div class="module-subtitle font-serif">
              Stem solves the trust problem between buyers and sellers, creating a durable and immutable record of sales and bottling history while keeping your identity private.
            </div>

          </div>

        </div><!-- .row -->

        <div class="row multi-columns-row">

          <!-- Features start -->
          <div class="col-sm-6 col-md-3 col-lg-3">

            <div class="features-item">
              <div class="features-icon">
                <span class="icon-lightbulb"></span>
              </div>
              <h3 class="features-title font-alt">Transact</h3>
              Transfer bottle ownership to a user after making a sale. Recording a transaction has never been so easy and transparent.
            </div>

          </div>
          <!-- Features end -->

          <!-- Features start -->
          <div class="col-sm-6 col-md-3 col-lg-3">

            <div class="features-item">
              <div class="features-icon">
                <span class="icon-bike"></span>
              </div>
              <h3 class="features-title font-alt">Track</h3>
              Search bottles the pique your interest. If a seller claims the bottle is in Lausanne, and Stem says so too, you're good to go.
            </div>

          </div>
          <!-- Features end -->

          <!-- Features start -->
          <div class="col-sm-6 col-md-3 col-lg-3">

            <div class="features-item">
              <div class="features-icon">
                <span class="icon-tools"></span>
              </div>
              <h3 class="features-title font-alt">Verify</h3>
              Be confident that your prospective Scharzhofberger Riesling was <em> really </em> produced in Germany's Rheingau vineyard.
            </div>

          </div>
          <!-- Features end -->

          <!-- Features start -->
          <div class="col-sm-6 col-md-3 col-lg-3">

            <div class="features-item">
              <div class="features-icon">
                <span class="icon-gears"></span>
              </div>
              <h3 class="features-title font-alt"> Protect</h3>
              Protect your brand from fraud with our verification tools. Collectors and consumers can now purchase fine wines without risk.  
            </div>

          </div>
          <!-- Features end -->

        </div><!-- .row -->

      </div><!-- .container -->
    </section>
    <!-- Features end -->

  
