<h1>unusable space</h1><br><br><br><br>
  <h2>Make a new address with this button below</h2><br>
<div id="input">

  <%= button_to "Make a New Address", new_address_path %>
 
</div>
<br>
  <h2>Your generated address:</h2>
<div class="result" id="result">

</div>