
/*custom*/

.authentication {
  color: white;
  margin-top: 1.4em;
  right: 10%;
  list-style: none;
}

.home-section {
  background-image: image-url("grape_hands.jpg");

}


.caption-content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.unusable {
  color: black;
}

.jumbotron {
  background-image: url("bottle_open.jpg") !important;
  background-repeat:no-repeat;
  background-size:cover;
  padding-top: 10em;
  padding-bottom: 12em;
}


.jumbotron h1 {
  margin-top: -.2em;
  font-family: 'Montserrat', sans-serif;  
  color:black;
}

.jumbotron h3 {
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
}


/*login and sign-up styling
*/
.module-small {
  background-image: url("grapes.jpg") !important;
}

.module-small .container {
  padding-top: 3em;
  padding-bottom: 3em;
}

.login {
  text-align: center;
}

.col-md-offset-3 {
  display: inline-block !important;
}

.signup {
  padding-top: 3em;
}

.signup .col-sm-5 {
  padding-top: 1em;
}

.name {
  float: left;
}

/*gallery styling
*/

.gallery-item {
  line-height: 30px;
}

.gallery-item .gallery-caption span {
  font-size: .45em;
  padding-top: 2em;
}

.gallery-item .gallery-caption .blocktrail{
  font-size: .45em;
}

.title {
  text-align: center;
}

.warning {
  margin-top: -5em;
}


/*cellar styles*/

.gallery-description {
  font-family: 'Montserrat', sans-serif;
  visibility: hidden;
}

.bottom {
  background-image: url("grapes.jpg") ;
}

.jumbotron h3 {
  background-color: white;
  display: inline-block;
}

.notice {
  color: red;
  position: absolute;
  right: 35%;
}

.current h2 {
  font-family: 'Montserrat', sans-serif;  
  color:black;
}

.former h2 {
  font-family: 'Montserrat', sans-serif;  
  color:black;
}

/*verification styles
*/

.verify {
  text-align: center;
  font-family: 'Raleway', sans-serif; 
  color: black;
}

.verify h2, h3{
  color:grey;
}

/*nav bar styling
*/

.top-text {
  margin-top: 19px;
}

.options {
  margin-top: 3px;

}

.stem {
  margin-top: 1.5em;
}

.fork {
  color: white !important;
}

.no_session {
  float: right;
  margin-top: 12px;
}

